.auth-form-container .row.form-row {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form-container .card {
    box-shadow: 2px 2px 10px 2px #305ff823;
    border: none;
}

.auth-form-container .card .form-control {
    border-radius: 6px;
}