/*-- This CSS file will be included in all pages --*/
/* 
a, li, button {
    font-family: var(--font-family-five);
}

h1 {
    color: #003838;
    font-family: "Ubuntu Sans", sans-serif;
}

h3 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #003838;
}

p {
    font-family: "Rosarivo";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
} */

:root {
    --font-family-one: "Ubuntu Sans", sans-serif;
    --font-family-two: "Caveat", cursive;
    --font-family-three: "Rosarivo";
    --font-family-four: "Hanken Grotesk", sans-serif;
    --font-family-five: "Poppins", sans-serif;

    --font-size-headline: 50px;
    --font-size-sub-headline: 18px;
    --font-size-paragraph: 18px;
    --font-size-links: 15px;

    --font-weight-headline: 600;
    --font-weight-sub-headline: 500;
    --font-weight-paragraph: 400;
    --font-weight-links: 500;

    --font-color-headline: #003838;
    --font-color-sub-headline: #000;
    --font-color-paragraph: #2e2e2e;
    --font-color-links: #0000ff;
    --font-color-white: #f1f1f1;
    --font-color-dark: #2e2e2e;
    --font-color-theme: #dd4600;
    
    --shadow-dark-1: #0000001a;
    --shadow-dark-2: #00000031;
}

/* Buttons */

.btn {
    font-family: var(--font-family-five);
    font-weight: var(--font-weight-links);
    font-size: var(--font-size-links);
    border-radius: 20px;
    padding: 5px 25px;
    border-width: 1px;
    border-style: solid;
    text-wrap: nowrap;
}

.btn.btn-primary {
    background: none;
    background-image: linear-gradient(320deg, rgb(221, 70, 0) 0%, rgb(232, 110, 4) 100%);
    color: var(--font-color-white);
    border-color: var(--font-color-theme);
}

.btn-primary:hover {
    background-image: none;
    background: none;
    color: var(--font-color-dark);
    box-shadow: 0px 0px 10px 2px var(--shadow-dark-1);
}

.btn.btn-secondary {
    background: #fff;
    color: var(--font-color-theme);
    border-color: var(--font-color-theme);
}

.btn-secondary:hover {
    background: #fff;
    color: var(--font-color-theme);
    border-color: var(--font-color-theme);
    box-shadow: 0px 0px 10px 2px var(--shadow-dark-1);
}

/* Alert */
.alert-wrap{
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: auto;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 540px){
    .alert-wrap {
        width: 90%;
        top: 10%;
    }
}

.alert {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    border-radius: 42px;
    padding: 7px 20px;
    box-shadow: 0px 0px 10px 2px var(--shadow-dark-2);
}

.alert.alert-primary {
    background-color: rgb(49, 49, 49);
    color: var(--font-color-white);
    border: 2px solid #fff;
}

.alert svg{
    width: 20px;
    height: 20px;
}


/* Title */

.title .title-h {
    font-size: 40px;
    font-family: var(--font-family-four);
    font-weight: 600;
}

.title .title-p {
    font-size: 23px;
    font-family: var(--font-family-two);
    display: inline;
    border-bottom: 2px solid #dd46008e;
    border-radius: 3px;
}

@media (max-width: 576px) {
    .title .title-h {
        font-size: 30px;
    }

    .title .title-p {
        font-size: 19px;
    }
}

/* Owl Carousel */

.owl-dots {
    text-align: center;
    margin-top: 10px;
}

.owl-dots button.owl-dot {
    background-color: #b3b3b3;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 3px;
}

.owl-dots button.owl-dot.active {
    background-color: #dd4600bd;
}


/* Newsletetr */

.newsletter .newsletter-container {
    background-color: #cacacace;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.newsletter .newsletter-container .img {
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    border: 3px solid #dd460098;
    background-color: #fff;
}


.newsletter .newsletter-container .img i {
    font-size: 180px;
    color: #dd4600e1;
}

.newsletter .newsletter-container .form-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: #ffffffe3;
    border-radius: 20px;
    padding: 20px 25px;
    box-shadow: 0px 0px 10px 3px var(--shadow-dark-1);
    transition: 0.3s ease;
}

.newsletter .newsletter-container .form-wrap:hover {
    transform: translateY(-5px);
}

.newsletter .newsletter-container .form-wrap .text h5 {
    color: var(--font-color-dark);
    font-family: var(--font-family-three);
    font-size: 30px;
    font-weight: 600;
}

.newsletter .newsletter-container .form-wrap .text p {
    color: var(--font-color-dark);
    font-family: var(--font-family-two);
    font-size: 22px;
    line-height: 1;
    border-radius: 3px;
    display: inline;
}

.newsletter .newsletter-container .form-wrap .form .form-control {
    border-radius: 20px;
    border: 2px solid #dd46008e;
    text-align: center;
    font-size: 15px;
    font-family: var(--font-family-five);
    box-shadow: none;
}

@media (max-width: 768px) {
    .newsletter .newsletter-container .img i {
        font-size: 150px;
    }
}
body {
    background-color: rgb(243, 243, 243);
}